In [ ]:
low=int(input("enter low :"))
high=int(input("enter high  :"))
while low <= high:
    mid=(low+high)//2
    digit_sum=sum(int (i) for i in str(mid))
    diff=mid-sum
    if diff<=2:
        low=mid+1
    else:
        high=mid-1
else:
    print(low-high-1)
    diff=mid-sum
    if diff<=2:
        low=mid+1

enter low :13
enter high  :56

TypeError: 'int' object is not callable

In [ ]:
low=float(input("enter low :"))
high=float(input("enter high  :"))
while low <= high:
    mid=(low+high)//2
    # Change the variable name from 'sum' to 'digit_sum'
    digit_sum=sum(float (i) for i in str(mid))  ;
    diff=mid-digit_sum
    if diff<=2:
        low=mid+1
    else:
        high=mid-1
else:
    print(low-high-1)
    diff=mid-digit_sum # Update the variable name here as well
    if diff<=2:
        low=mid+1

enter low :54567
enter high  :87654324

TypeError: 'int' object is not callable

In [1]:
import array as arr
x=arr.array('i',[10,20,30,40,50])
for i in x:
    print(i)

10
20
30
40
50

In [4]:
import numpy as np
y=np.array([10,20,30,40,50])
for i in y:
    print(i)

10
20
30
40
50